@import "tailwindcss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  touch-action: auto;
}
body {
  -webkit-overflow-scrolling: touch; /* 添加这个属性支持 iOS 滚动 */
  touch-action: pan-y; /* 允许垂直滚动 */
}
:root {
  --primary-color: #005843; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
